
@font-face {
    font-family: 'XoloniumBold';
        src: url('Xolonium-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'XoloniumRegular';
        src: url('Xolonium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
